/*A quien voy a modificar*/
/*A que voy a modificar
https://campus-informatorio.chaco.gob.ar/mod/supervideo/view.php?id=271


Grid
*/
:root{
    --main-color: black;
    
}
:root{
    --background: rgb(225, 225, 225);
}
.section-icon .icon_logo_perfil{
    display: flex;
    
}
.header-name{
    color: var(--main-color);
}
.navegation_bar_button{
    display: flex;
    align-items: flex-end;
}
.navegation_bar_button li{
    display: flex;
}
.navegacion__imagenteclado{
    display: flex;
    align-items: center;
    width: 500px;
    height: 400px;
}
.header__description .personal__description{

}

