/*A quien voy a modificar*/
/*A que voy a modificar
https://campus-informatorio.chaco.gob.ar/mod/supervideo/view.php?id=271


Grid
*/
:root{
    --main-color: black;

    --background: rgb(225, 225, 225);
}
*{
    font-size: 1em;
}
.section-icon .icon{
    align-self: center;
}
.navegation-bar{
    background-color: var(--background);
    display: flex;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
}
.header-name{
    color: var(--main-color);
    margin-top: auto;
}
.navegation_bar_button{
    display: flex;
    align-items: flex-end;
}
.navegation_bar_button li{
    display: flex;
}
